@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #1d1d20;
  font-family: "Baloon", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ballon", serif;
  letter-spacing: 2px;
}

p {
  font-family: "Baloon", Arial, sans-serif;
  margin-bottom: 1.5em;
  color: #1d1d20;
  
}

strong {
  font-weight: bold;
}

address {
  font-family: "Baloon", Arial, sans-serif;
  margin: 0 0 1.5em;
}

#bgGrad__about{
  background: linear-gradient(70deg, rgb(162, 162, 245), rgb(249, 177, 52));
  padding: 10rem;
  height: auto;
  border-radius: 1rem;
}

.about-blocks__title{
  font-style: bold;
  text-align: center;
  text-indent: -10px;
}
.about-blocks__content{
  
  line-height: 3;
text-justify: auto;
}
.img-responsive {
  border-radius: 10px;
}