@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #0b0b0c;
  font-family: "Baloon", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ballon", serif;
  letter-spacing: 2px;
}

p {
  font-family: "Baloon", Arial, sans-serif;
  margin-bottom: 1.5em;
  color: #16130f;
  
}

strong {
  font-weight: bold;
}

address {
  font-family: "Baloon", Arial, sans-serif;
  margin: 0 0 1.5em;
}
.documents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.document {
      flex-basis: 35%;
      margin: 1em;
      padding: 1em;
      border: rgb(104, 159, 161) solid 0.1rem;
      border-radius: 2em;
  }

  .card__images {
    width:171;
    height:180;
    
  }
  .form-group2{
    margin: 0.5rem;
  }
  #bgGrad {
    background: linear-gradient(70deg, rgb(162, 162, 245), rgb(249, 177, 52));
    border-radius: 1rem;
    padding: 1rem;
    margin: -13px;
    height: auto;
    min-height: 100vh;
  }
/*this is for the suggest list */
.accordion-item{
  background: linear-gradient(70deg, rgb(162, 162, 245), rgb(249, 177, 52));
  border-radius: 1rem;
  padding: 1rem;
  margin: -13px;
  height: auto;
}
  /* this is for the search list */
  #bgGrad__searchList{
    background: linear-gradient(70deg,rgb(249, 177, 52) rgb(162, 162, 245));
    border-radius: 1rem;
  }

  #content{
    position:absolute;
    top:50%;
    left:45%;
    width :200px;
    height:200px;
    margin-left:-100px;
    margin-top:-100px;
    }

    .input__wide{
      height:40px; 
      width:300px;
      border-radius: 1rem;
    }
    .input__title{
      
      text-align: center;
    }

    .documents__result{
       margin-top:180px;
      width: 30vw;
      margin-left: 26rem; 
     
    }
  
    
    #inline{
      display: inline-block;
    }
    .form-group{
      padding: 0.4rem;
    }

    /* this is for rating stars */
    .MuiRating-icon{
      color: rgb(104, 253, 253);
    }