.documents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.document {
      flex-basis: 35%;
      margin: 1em;
      padding: 1em;
      border: rgb(104, 159, 161) solid 0.1rem;
      border-radius: 2em;
  }

  .card__images {
    width:171;
    height:180;
    
  }
  .documentForm{
    padding: 1rem;
    background-color: rgb(177, 194, 188);
    border-radius: 15px;
  }
  #inline{
    display: inline-block;
  }
  .form-group{
    padding: 0.4rem;
  }