.documents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.document {
      flex-basis: 35%;
      margin: 1em;
      padding: 1em;
      border: rgb(104, 159, 161) solid 0.1rem;
      border-radius: 2em;
  }