body {
margin: 1rem;
}

.form--Regi {
    padding:4em 1em 1em 1em;
    margin: 2em;
    border: rgb(104, 159, 161) solid 0.1rem;
    border-radius: 2em;
}

.form--login {
    padding:1em;
    margin: 2em;
    border: rgb(104, 159, 161) solid 0.1rem;
    border-radius: 2em;
}

.link--register--name{
    text-align: center;
}

.pic--signIn {
    max-width: 100%;
    height: auto;
}

.form--signIn{
    padding:2em;
    margin: 3em  0em;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title--signIn{
    margin-top: 5rem;
    text-align: center;
}

